<!DOCTYPE html>

<html>

<head>
    <title>Auth</title>
    <link rel="stylesheet" href="./css/auth_hbs.css"
</head>

<body>
    <div class="main">
        <div id="img-div">
            <img style="border-radius: 50%;" alt = "profile pic" src={{pic_url}}>
        </div>

        <div id="name-div">
            {{name}}
        </div>
        <div id="email-div">
            {{email}}
        </div>
        <div id="notice-div">
            You will recieve an OTP on the mail above.
        </div>
        
        <button id='mail-btn'>Send OTP</button>
    </div>

    
    
</body>

</html>
